<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>
    <%- include("includes/header") %>
    <main>
        <h2>Welcome to your dashboard</h2>
        <p>The contents of this page is just a demo of dashboard</p>
        <% posts.forEach(post => { %> 
                <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
        <% }) %>        
    </main>
    <%- include("includes/footer") %>
</body>
</html>