<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>

    <%- include("includes/header") %>
    <% if (posts.length === 0) { %>
        <main>
            <h4>Hello <%= user.username %>,</h4>
            <p>You have no posts yet</p>
        </main>
    <% } else { %>
        <main>
            <h4>Hello <%= user.username %>, here are your posts</h4>
            <% posts.forEach(post => { %> 
                <article>
                    <small>Posted by <%= post.author %> on <%= new Date(post.createdDate).getMonth()+1 %> <%= new Date(post.createdDate).getFullYear() %></small>
                <a href="/post/<%= post.id %>"><p><%= post.title %></p></a>
            </article>
        <% }) %>        
    </main>
    <% } %>
    <%- include("includes/footer") %>
</body>
</html>