<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>
    <%- include("includes/header") %>
    <form action="/edit-post/<%= post.id %>" method="post" novalidate>
        <fieldset>
            <legend>Edit a post</legend>
            <label for="title">Title:</label>
            <input type="text" value="<%= post.title %>" name="title" placeholder="Title" required>
            <label for="content">Content:</label>
            <textarea name="content" placeholder="Content" required><%= post.content %></textarea>
            <br/>
            <button type="submit">Edit Post</button>
        </fieldset>
    </form>

    <%- include("includes/footer") %>
</body>
</html>